{{>layout/header}}
    <h1 class="text-center">New Application</h1>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <form action="/applications/new" method="post">
                <label class="form-label">Name</label>
                <input name="name" class="form-control" type="text">


                <label class="form-label">URL</label>
                <input name="url"  class="form-control" type="text">


                <label class="form-label">Type</label>
                <select name="type" id="" class="form-select">
                    <option value="rest">Rest</option>
                    <option value="web">Web</option>
                </select>

                <button type="submit" class="btn btn-info">Create</button>
           </form>
            {{#appCreated}}
                <div class="alert alert-info" role="alert">
                    Application created successfully
                </div>
            {{/appCreated}}

        </div>
        <div class="col-md-4"></div>
    </div>
{{>layout/footer}}
